/* You can add global styles to this file, and also import other style files */

.token-pair {
  display: flex;
  align-items: center;
}

.token-icon {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.token-icon:not(:first-child) {
  margin-left: -14px;
}
/* 
.position-card {
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.position-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} */

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.loading-pulse {
  animation: pulse 1.5s infinite ease-in-out;
}